<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.7.0-develop00365" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00365" targetFramework="net472" />
  <package id="RestSharp" version="110.2.1-alpha.0.3" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.4.23259.5" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.0-preview.4.23259.5" targetFramework="net472" />
</packages>